.section {
  padding-block: 80px;

  border-bottom: 1px solid var(--border);
}

.grid {
  display: grid;

  grid-template-columns:
    240px minmax(0, 1fr);

  gap: 70px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: var(--foreground-subtle);

  font-size: 12px;
  font-weight: 700;

  letter-spacing: 0.08em;

  text-transform: uppercase;
}

.label span {
  font-size: 10px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;

    gap: 35px;
  }
}